/*---------------
---------------- */
/* -----------
Base styles
------------- */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
button{
    font-size: 16px;
    color: white;
    border: none;
    background-color: #E02C6D;
    padding: 10px 24px;
}
button:hover .fas{
    transform: rotate(360deg);
    transition: transform .8s ease ;
}

/*---------------
Navbar Styles
---------------- */
.header{
    background-color: #2D25A0;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 16px;
    height: 70px;
    font-weight: 500;
    display: flex;
    padding: 40px 130px;
    margin-bottom: 0;
    z-index: 100;

}
.header-nav{
    display: flex;
    align-items: center;
    width: 100%;
}
.nav-links{
    margin: 0px 30px;
    padding: 0;
    margin: 0;
}
.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 50px ;
}
.nav-link:hover{
    color: #c4c4c4;
}
.header-anchor{
    margin-right: 0;
}
.bars-icon{
    display: none;
}
.nav-button-div{
    margin-left: auto;
}


/*---------------
Section-1 Styles
---------------- */
.section1{
    background-color: #2D25A0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding: 70px 40px;
}
.section1-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section1 h1{
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 62px;
    color: white;
}
.section1-image{
    margin-left: 100px;
}
.section1-image img{
    width: 556.01px;
}
.img-section1:hover{
    transform: scale(1.08) ;
    transition: transform .5s ease ;
    z-index: -3;
}

/*--------------------
Section-2(Grid) Styles
--------------------- */
.container{
    padding: 70px 14%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.card{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.card-image img{
    width: 100%;
}
.card-details h1{
    font-size: 28px;
    font-weight: bold;
}

/* ------------------
Section-3 styles
---------------------- */
.section3{
    margin-top: 55pxpx;
    background-color: rgba(255, 255, 255, 0);
}
.section3-text{
    width: 500px;
}
.section3-text h1{
    color: black;
    font-size: 48px;
}

/* -------------------
Section-4 styles
--------------------- */
.section4{
    padding: 40px;
    background-image: url(images/Frame-56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section4 h1{
    color: #2D25A0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 53px;
}
.videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.section4 iframe{
    border-radius: 5px;
    width: 100%;
}

/* -------------------
Section-5 styles
---------------------*/
.section5{
    margin-top: 80px;
    padding: 30px 70px;
}
.match-container{
    display: flex;
    padding: 20px 60px;
    padding-top: 30px;
    justify-content: space-evenly;
    align-items: center;
    
}
.matches-part{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.title h1{
    text-align: center;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.team-img img{
    width: 140px;
    border-radius: 5px;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash{
    display: flex;
    justify-content: center;
    align-items: center;
}
.country-name h1{
    margin-bottom: 0;
    margin-top: 3px;
    font-size: 20px;
}
.score-number{
    font-size: 40px;
}
.ticket-button{
    display: flex;
    justify-content: center;
    
}
.ticket-button{
    padding-bottom: 40px;
}

/* ---------------
Section 6 styles
------------------ */
.section6{
    margin-top: 90px;
}
.section6 h3{
    text-align: center;
    font-size: 22px;
}
.sponsor-images{
    display: flex;
    justify-content: center;
}
.sponsor-image img{
    height: 50px;
}
.sponsor-image{
    margin: 0px 14px ;
}

/* ------------------
Footer Styles
---------------------*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;margin-bottom: 50px;
}
.footer-logo{
    width: 400px;
}
.social-links{
    margin-top: 25px;
}
.fab{
    color: rgb(88, 87, 87);
    margin: 0px 10px;
    font-size: 20px;
    padding: 10px;
    background-color: silver;
    border-radius: 100%;
    
}
.fab:hover{
    color: #2D25A0;
    background-color: #cbc8f3;
    transition: background-color,color .45s ease;
}

/* -------------------
Media Queries Start
--------------------- */

/* ---------------
Tablet media queries
-----------------*/
@media screen and (max-width: 992px){
    .container, .videos{
        grid-template-columns: repeat(2, 1fr);
    }
    .match-container{
        padding-right: 30px;
        padding-left: 30px;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 1220px) {
    .section1{
        flex-direction: column;
        align-items: center;
    }
    .section1-text h1{
        font-size: 55px;
    }
    .section1-image{
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 50px;
    }
    .section1-image img{
        width: 480px;
    }
    .section3-text{
        width: 70%;
    }
    .section3-image img{
        width: 70%;
    }
}

/* ---------------------
Mobile media Queries
------------------------ */
@media only screen and (max-width: 828px){
    .nav-links{
        display: none;
    }
    .bars-icon{
        display: block;
    }
    .fa-bars{
        color: white;
        font-size: 25px;
    }
    .header{
        padding: 20px;
    }
    .menu{
        padding: 0px;
        margin: 0px;
    }
}
@media only screen and (max-width: 688px){
    .section1{
        padding: 70px 20px;
    }
    .section1-image img{
        width: 100%;
    }
    .section1-text{  
        width: 100%;
    }
    .section1-text h1{
        font-size: 40px;
    }
    .container{
        padding: 70px 15px;
    }
    .container, .videos{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .card{
        padding-bottom: 20px;
    }
    .section4{
        padding: 40px 15px;
    }
    .footer-logo{
        width: 300px;
    }
    .section5{
        padding: 15px;
    }
    .matches-part{
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .match-container{
        transform: scale(.6);
        z-index: -1;
    }
    .score{
        margin: 0 35px;
    }
}
@media only screen and (max-width:393px){
    .match-container{
        transform: scale(.45);
    }
}